/* @tailwind base; */

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.ml-8 {
  margin-left: 2rem
}

.mt-4 {
  margin-top: 1rem
}

.mt-\[-60px\] {
  margin-top: -60px
}

.mt-20 {
  margin-top: 5rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-\[\] {
  margin-top: 
}

.mt-\[100\] {
  margin-top: 100
}

.mt-\[100px\] {
  margin-top: 100px
}

.mt-\[300px\] {
  margin-top: 300px
}

.mt-\[500px\] {
  margin-top: 500px
}

.mt-\[600px\] {
  margin-top: 600px
}

.box-border {
  box-sizing: border-box
}

.flex {
  display: flex
}

.w-2\/5 {
  width: 40%
}

.w-3\/5 {
  width: 60%
}

.w-4\/5 {
  width: 80%
}

.list-none {
  list-style-type: none
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.border {
  border-width: 1px
}

.bg-orange-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(234 88 12 / var(--tw-bg-opacity))
}

.bg-slate-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity))
}

.p-4 {
  padding: 1rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.text-5xl {
  font-size: 3rem;
  line-height: 1
}

.text-\[30px\] {
  font-size: 30px
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-orange-600 {
  --tw-text-opacity: 1;
  color: rgb(234 88 12 / var(--tw-text-opacity))
}

.after\:absolute::after {
  content: var(--tw-content);
  position: absolute
}

.after\:ml-20::after {
  content: var(--tw-content);
  margin-left: 5rem
}

.after\:bg-orange-600::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(234 88 12 / var(--tw-bg-opacity))
}

.after\:content-\[\*\]::after {
  --tw-content: *;
  content: var(--tw-content)
}

@media (min-width: 1280px) {
  .xl\:w-32 {
    width: 8rem
  }
}