/* @tailwind base; */

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.ml-16 {
  margin-left: 4rem
}

.mt-4 {
  margin-top: 1rem
}

.mt-\[-60px\] {
  margin-top: -60px
}

.mt-\[600px\] {
  margin-top: 600px
}

.box-border {
  box-sizing: border-box
}

.flex {
  display: flex
}

.h-\[100\%\] {
  height: 100%
}

.w-2\/5 {
  width: 40%
}

.w-4\/5 {
  width: 80%
}

.w-\[450px\] {
  width: 450px
}

.list-none {
  list-style-type: none
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.border {
  border-width: 1px
}

.bg-back {
  --tw-bg-opacity: 1;
  background-color: rgb(41 45 51 / var(--tw-bg-opacity))
}

.bg-orange-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 115 22 / var(--tw-bg-opacity))
}

.bg-orange-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(234 88 12 / var(--tw-bg-opacity))
}

.p-8 {
  padding: 2rem
}

.p-\[30px\] {
  padding: 30px
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.text-center {
  text-align: center
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-5xl {
  font-size: 3rem;
  line-height: 1
}

.text-\[30px\] {
  font-size: 30px
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-7xl {
  font-size: 4.5rem;
  line-height: 1
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1
}

.font-bold {
  font-weight: 700
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-khakestari {
  --tw-text-opacity: 1;
  color: rgb(217 217 217 / var(--tw-text-opacity))
}

.text-orange-600 {
  --tw-text-opacity: 1;
  color: rgb(234 88 12 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.no-underline {
  text-decoration-line: none
}

.after\:absolute::after {
  content: var(--tw-content);
  position: absolute
}

.after\:ml-20::after {
  content: var(--tw-content);
  margin-left: 5rem
}

.after\:bg-orange-600::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(234 88 12 / var(--tw-bg-opacity))
}

.after\:content-\[\*\]::after {
  --tw-content: *;
  content: var(--tw-content)
}

@media (min-width: 1280px) {
  .xl\:w-32 {
    width: 8rem
  }
}